<h1><%= link_to "Rotten Mangoes", root_path %></h1>
<ul class="nav nav-pills">
	<% if session[:user_id] %>
		<li class="col-md-12"><%= link_to current_user.firstname , user_path(current_user)%></li>
		<li class="col-md-12"><%= link_to "Submit a movie!", new_movie_path %></li>
		<li class="col-md-12"><%= link_to "Log out", session_path("current"), method: :delete %></li>

	<% else %>
		<li><%= link_to "Log in", new_session_path %></li>
		<li><%= link_to "Sign up", new_user_path %></li>
	<% end %>

	<%= form_tag(users_path, :method => "get", id: "search-form") do %>
		<%= text_field_tag :user_query, params[:user_query], placeholder: "Search users" %>
		<% submit_tag "Search user", :name => nil%>
	<% end %>

	<%= form_tag(movies_path, :method => "get", id: "search-movies") do %>
		<%= text_field_tag :movie_query, params[:movie_query], placeholder: "Search movie reviews" %>
		<% submit_tag "Search movie", :name => nil %>
	<% end %>

</ul>

<!-- 	<%# form_tag(movies_path, :method => "get", id: "search-form") do %>
	  <%# text_field_tag :search, params[:search], placeholder: "Search" %>
	  <%# select_tag(:duration, options_for_select([
	                [],
	  							['minutes < 90', 1], 
	  							['90 < minutes < 120', 2], 
	  							['120 < minutes', 3]])) %>

	  <%# submit_tag "Search", :name => nil %>
	<%# end %> -->
